.container {
    text-align: center;
    color: white;
    max-width: 600px;
    max-height: 400px;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    background-color: orange;
    height: 100px;
    margin: 0;
}

p {
    background-color: aqua;
    width: 300px;
    flex-basis: 50%;
    margin: 0;
    height: 80px;
}

.aside {
    width: 100px;
}

.right {
    background-color: pink;
    flex-basis: 25%;
    height: 80px;
}

.left {
    background-color: green;
    flex-basis: 25%;
    height: 80px;
}

footer {
    background-color: blueviolet;
    height: 50px;
    font-size: 22px;
}



@media screen and (max-width: 992px) {
    p {
        flex-basis: 75%;
    }

    .left {
        flex-basis: 100%;
        order: 1;
    }

    .right {
        flex-basis: 25%;
    }
}

@media screen and (max-width: 768px) {
    p {
        flex-basis: 100%;
        order:1
    }

    .right {
        flex-basis: 100%;
        order: 3;
    }

    .left {
        flex-basis: 100%;
        order: 2;
    }
}